@use "./variables" as *;
@use "sass:color";

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  margin: 40px 0;
  padding: 10px 0;
}

footer {
  width: 100%;
  box-sizing: border-box;
}

main {
  min-height: 90vh;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;

  &:hover {
    color: color.adjust($color: $primary-color, $lightness: -20%);
  }
}

.content {
  max-width: $content-width;
  padding: $content-padding;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  .bannerText {
    max-width: $content-width;
    padding: 0 $content-padding;
    margin: 0 auto;
    height: 100%;
  }
}

.highlight {
  color: $primary-color;
  font-weight: bold;
}

button,
.buttonLink {
  display: inline-block;
  padding: 10px;
  background-color: $primary-color;
  color: $background-color;
  border-radius: $input-radius;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: color.adjust($color: $primary-color, $lightness: -15%);
  }
}
