@use "./variables" as *;

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  overflow-y: scroll;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $content-padding;
  padding-top: $header-height + 40px;
}

.banner {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  .bannerText {
    max-width: $content-width;
    padding: 0 $content-padding;
    margin: 0 auto;
    height: 100%;
  }
}

.highlight {
  color: $primary-color;
}
