@use "./variables" as *;

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $text-color;
  overflow-y: scroll;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: $header-height + 20px;
}

.banner {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
