@use "./variables" as *;

// Base typography
html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

// Paragraphs
p {
  margin: 0 0 1rem 0;
}

// Links
a {
  color: $primary-color;
  text-decoration: none;
}
