// Colors
$primary-color: #65ccb8;
$secondary-color: #57ba98;
$text-color: #182628;
$background-color: #f2f2f2;
$accent-color: #3b945e;
$muted-text: #727272;

// Structure
$content-width: 1200px;
$content-padding: 20px;
$header-width: 1200px;
$header-height: 60px;

// Radius
$input-radius: 2px;

// Screens
$desktop: 1200px;
$tablet: 900px;
$mobile: 600px;