// Colors
$primary-color: #65ccb8;
$secondary-color: #57ba98;
$background-color: #182628;
$accent-color: #3b945e;
$text-color: #f2f2f2;
$muted-text: #727272;

// Structure
$content-width: 1200px;
$header-width: 1200px;
$header-height: 60px;

// Radius
$input-radius: 8px;
