// Colors
$primary-color: #65ccb8;
$secondary-color: #57ba98;
$text-color: #182628;
$background-color: #f2f2f2;
$accent-color: white;
$muted-text: #868686;

$div-shadow: drop-shadow(0 0 10px rgba(7, 45, 216, 0.8))
  drop-shadow(0 0 20px rgba(108, 9, 238, 0.4));

// Structure
$content-width: 1280px;
$content-padding: 30px 20px;
$header-width: 1280px;
$header-height: 60px;

// Radius
$input-radius: 2px;

// Text Size
$bigger-normal-text: 1.25rem;

// Element size
$tech-card-size: 210px;

// Screens
$desktop: 1280px;
$tablet: 900px;
$mobile: 600px;
