@use "../../styles/variables" as *;
@use "sass:color";

.contact .banner {
  background-color: $text-color;
  color: $background-color;
  position: relative;
  height: 50vh;

  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    padding-top: 1%;

    * {
      z-index: 2;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
