@use "../../styles/variables" as *;

.banner {
  background-color: $text-color;
  color: $background-color;
  position: relative;

  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;

    * {
      z-index: 2;
    }

    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .bannerPortraitWrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100%);
    -webkit-user-drag: none;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 30%;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      z-index: 0;
    }

    .bannerPortrait {
      position: relative;
      top: 35px;
      height: 100%;
      pointer-events: none;
      user-select: none;
      -webkit-user-drag: none;
      z-index: 1;
    }
  }

  .bannerLogos {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 800px);
    display: flex;
    gap: 20px;
    z-index: 0;

    img {
      pointer-events: none;
      user-select: none;
      -webkit-user-drag: none;
      width: 250px;
      filter: grayscale(1) brightness(0) invert(1);
      opacity: 0.05;
    }
  }
}

.home .content {
  padding-top: 60px;
}

.techStackSection {
  border-radius: $input-radius;

  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $primary-color;
    border-radius: $input-radius;
  }
}

.techStackGrid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;

  @media (max-width: $mobile) {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}
