@use "../../styles/variables" as *;

.banner {
  background-color: $text-color;
  color: $background-color;
  position: relative;

  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    
    * {
      z-index: 2;
    }

    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .bannerPortraitWrapper {
    position: absolute;
    right: 0;
    top: 35px;
    height: calc(100% - 35px);
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 30%;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      z-index: 0;
    }

    .bannerPortrait {
      position: relative;
      height: 100%;
      z-index: 1;
    }
  }
}
