@use "../../styles/variables" as *;
@use "sass:color";

.banner {
  background-color: $text-color;
  color: $background-color;
  position: relative;

  .bannerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;

    * {
      z-index: 2;
    }

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .bannerPortraitWrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100%);
    -webkit-user-drag: none;
    pointer-events: none;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 30%;
      right: 0;
      bottom: 0;
      background-color: $primary-color;
      z-index: 0;
    }

    .bannerPortrait {
      position: relative;
      top: 35px;
      height: 100%;
      pointer-events: none;
      user-select: none;
      -webkit-user-drag: none;
      z-index: 1;
    }
  }

  .bannerLogos {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 800px);
    display: flex;
    gap: 20px;
    z-index: 0;

    img {
      pointer-events: none;
      user-select: none;
      -webkit-user-drag: none;
      width: 250px;
      filter: grayscale(1) brightness(0) invert(1);
      opacity: 0.05;
    }
  }
}

.aboutSection {
  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $text-color;
    border-radius: $input-radius;
  }
  p {
    font-size: 1.5rem;
  }
}

.techStackSection {
  border-radius: $input-radius;

  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $primary-color;
    border-radius: $input-radius;
  }
}

.techStackGrid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;

  @media (max-width: $mobile) {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}

.highlightedProjectsSection {
  background-color: $text-color;
  color: $background-color;

  h2 {
    display: inline-block;
    padding: 5px;
    color: $text-color;
    background-color: $primary-color;
    border-radius: $input-radius;
  }

  .buttonLink {
    margin-top: 15px;
    color: $text-color;

    &:hover {
      transform: scale(1.05);
    }
  }

  .highlightedProjectsGrid {
    margin-top: 15px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    a {
      color: inherit;
    }

    $projectTitleFontSize: 22px;
    .projectCard {
      position: relative;
      border-radius: $input-radius;
      overflow: hidden;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-user-drag: none;
      }

      .projectInfo {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        transform: translateY(calc(100% - $projectTitleFontSize - 30px));
        transition: transform 0.3s ease;

        * {
          position: relative;
          z-index: 3;
        }

        h3 {
          font-size: $projectTitleFontSize;
          margin-bottom: 5px;
          opacity: 1;
          transition: opacity 0.3s ease, transform 0.3s ease;
        }

        p {
          opacity: 0;
          padding-right: 10px;
          transition: opacity 0.3s ease, transform 0.3s ease;
        }

        &::before {
          content: "";
          position: absolute;
          inset: -10px;
          top: -5px;
          background-color: rgba($primary-color, 0.4);
          backdrop-filter: blur(10px);
          transform: rotate(-2deg);
          transition: background-color 0.3s ease;
        }
      }

      &:hover {
        transform: scale(1.02);

        .projectInfo {
          transform: translateY(0);

          p {
            opacity: 1;
          }

          &::before {
            background-color: rgba($primary-color, 1);
          }
        }
      }
    }

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
}

.experienceSection {
  h2 {
    display: inline-block;
    padding: 5px;
    color: $background-color;
    background-color: $primary-color;
    border-radius: $input-radius;
  }

  .buttonLink {
    background-color: $text-color;
    transition: background-color 0.3s ease, transform 0.3s ease,
      margin 0.2s ease-in 0.25s;

    &:hover {
      background-color: color.adjust($color: $text-color, $lightness: 15%);
    }
  }

  .experienceList {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .experienceCard {
      border-radius: $input-radius;
      padding: 5px 10px;
      margin-bottom: 20px;
      box-shadow: 0 2px 8px rgba(13, 2, 73, 0.2);
      background-color: $accent-color;
      transform: translateY(0);

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        margin-top: 10px;
        background-color: $text-color;
        color: $background-color;
        padding: 5px;
        display: inline-block;
        border-radius: $input-radius;
      }

      h4 {
        padding: 5px;
      }

      p {
        padding: 0 5px;
      }
    }
  }
}
