@use "../../styles/variables" as *;
@use "sass:color";

$cardTransiton: 0.3s;

.techCard {
  position: relative;
  background-color: #f9f9f9;
  border-radius: $input-radius;
  text-align: left;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-color: $accent-color;
  box-shadow: 0 2px 8px rgba(13, 2, 73, 0.2);
  cursor: pointer;
  transition: box-shadow $cardTransiton ease-in-out;

  h3 {
    position: relative;
    font-weight: bolder;
    font-size: 1.25rem;
    user-select: none;
    z-index: 1;
  }
  p {
    position: relative;
    font-size: 0.9rem;
    z-index: 1;
  }

  img {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.5;
    transition: opacity $cardTransiton ease-in-out,
      transform $cardTransiton ease-in-out;
  }

  .cardContent {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0.8);
    padding: 15px;
    box-shadow: transparent;
    opacity: 0;
    transition: opacity $cardTransiton ease-in-out,
      transform $cardTransiton ease-in-out,
      box-shadow $cardTransiton ease-in-out;
  }

  .textIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
    z-index: 1;

    .textLine {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $text-color;
      opacity: 0.7;
      transition: width 0.2s ease-in-out;

      &:nth-child(3) {
        width: 40%;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 2px 32px rgba(35, 6, 202, 0.445);

      img {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.6);
      }

      .cardContent {
        transform: scale(1);
        box-shadow: 0 4px 64px rgba(2, 70, 42, 0.3);
        opacity: 1;
      }

      .textIcon {
        .textLine:nth-child(3) {
          width: 100%;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    width: 100px;
    height: 100px;
  }
}
