@use "../../styles/variables" as *;
@use "sass:color";

footer {
  position: relative;
  color: $background-color;
  margin-top: 100px;
  overflow: hidden;

  h3 {
    margin-bottom: 30px;
  }

  .footerBackground {
    background-color: $text-color;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    z-index: -1;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footerRotatedBackground {
    padding-top: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: -40px;
      right: -40px;
      bottom: 0;
      background-color: $text-color;
      transform: rotate(1deg);
      z-index: -1;
      filter: drop-shadow(2px 1px 10px rgba(0, 0, 0, 0.15));
    }
  }

  .footerPlaceholder {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    z-index: -2;

    &::before {
      background-color: $primary-color;
      filter: none;
    }

    .footerBackground {
      background-color: $primary-color;
    }
  }

  ul {
    list-style: none;
  }

  .branding {
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }

  .contactForm {
    max-width: 500px;
    width: 100%;
    padding: 0;
    margin-bottom: 80px;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;

    li {
      a {
        display: flex;
        gap: 5px;
        align-items: center;

        img {
          width: 18px;
          height: 18px;
          filter: grayscale(1) invert(1) brightness(2);
        }
      }
    }
  }
}

footer {
  .footerInside {
    opacity: 0;
    transform: translateY(40%);
    transition: opacity 0.4s ease, transform 0.8s ease;
  }
  &.visible {
    .footerInside {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
