@use "./styles/variables" as *;
@use "./styles/typography" as *;
@use "./styles/globals";

// Inter font
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacquard+24&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif+SC:wght@200..900&display=swap");
